@tailwind base;
@tailwind components;
@tailwind utilities;

/* color palette link:https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  :root {
    --background: #0b090a;
    --foreground: #161a1d;

    --card: #a4161a;
    --card-foreground: #ba181b;
    --card-1: #6c1111;
    --card-2: #710c73;
    --card-3: #240077;
    --card-4: #aa4d0a;

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: #660708;
    --primary-foreground: #aa0003;

    --secondary: #b1a7a6;
    --secondary-foreground: #f5f3f4;

    --muted: #d3d3d3;
    --muted-foreground: #b1a7a6;

    --accent: #ffffff;
    --accent-foreground: #ba181b;

    --destructive: #a4161a;
    --destructive-foreground: #e5383b;

    --border: #b1a7a6;
    --input: #e5383b;
    --ring: #0b090a;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* clerk class override */

.cl-logoBox {
  height: auto;
}

.cl-footerActionLink {
  filter: brightness(5);
}

.cl-providerIcon__github {
  filter: invert(1);
}
.cl-socialButtonsIconButton {
  background-color: rgb(54, 54, 54);
}
